/* CSS Document */
/* Font and color */
body {
	font-family: arial,helvetica,sans-serif;
	font-size: 16px;
}

h0 {
	font-size: 250%;
	font-weight: bold;
}

h1 {
	font-size: 180%;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-size: 150%;
	margin: 0px;
	padding: 0px;
}

h3 {
	font-size: 120%;
	margin: 0px;
	padding: 0px;
}

h4 {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
}

.bgcolor_01 {
	background-color: #CCCCCC;
}

.bgcolor_02 {
	background-color: #E6E6E6;
}

.detect_color {
	color: #FF0000;
}

.inconclusive_color {
	color: #FF6600;
}

.notdetect_color {
	color: #00CC00;
}

.notrun_color {
	color: #666666;
}

.action_color {
	color: #0099FF;
}
/* Link */
a:link {
	color: #0000FF;
	text-decoration: none;
}

a:visited {
	color: #3366FF;
}

a:hover {
	text-decoration: none;
	color: #FFCC00;
}

a:active {
	color: #FF0000;
}

/* Index style */
#index-container {
	width:950px;
	padding: 10px;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#logo {
	width: 100%;
	margin-top: 35px;
	text-align: center;
}
#head{
	width: 100%;
	margin-top: 10px;
	text-align: left;}
#index-middle {
	width: 100%;
	margin-top: 75px;
	text-align: center;
}

#index-bottom {
	width: 100%;
	padding: 15px;
}

#index-bottom div {
	margin-top: 50px;
	margin-left: 5px;
	margin-bottom: 20px;
}

#index-bottom p {
	margin: 5px;
	margin-left: 30px;
}

/* Header style */
#top-container {
	width: 1300px;
	margin-top:20px;
	margin-bottom:10px;
	display: table;
}

#top-row {
	width:1300px;
}

#column-left {
	float:left;
}

#column-right {
	float:right;}

.column-in {
}


/* Overview styles */
#overview-container {
	width: 1300px;
	border: 1px solid #333333;
	padding: 10px;
}

#overview {
	margin-top: 25px;
}

#overview div {
	float:left;
}

#overview-image {
	width: 200px;
	text-align: right;
	padding-right: 5px;

}

#overview-content {
	padding-top: 2px;
	width: 1000px;
}

.pattern_testcase {
	margin-top: 16px;
}

#overview-content p {
	margin: 2px;
	padding: 2px;
}

#overview-content div {
	border: 1px solid #333333;
	margin-top: 2px;
}

#overview-content-left {
	width: 650px;
}

#overview-content-right {
	text-align: center;
	width: 330px;
	float:right;
}

/* Details styles*/
#details-container {
	width: 1300px;
	border: 1px solid #333333;
	padding: 10px;
}

#details {
	margin-top: 15px;
}

#details div {
	float: left;
}

#details-left{
	padding: 10px;
	width: 200px;
}

#details-link {
	/*border: 1px solid #333333;*/
	padding: 10px;
	width: 160px;
}

#details-main {
	border: 1px solid #333333;
	margin-left: 25px;
	width: 1000px;
	height: auto;
}

#bottom {
	clear: both;
}